h1 {
  color: red;
}

h1 {
  font-weight: 700;
  text-decoration: underline;
}

p {
  font-size: 15px;
  background-color: beige;
}

span {
  color: red;
}

.container {
  box-shadow: 10px 13px 0 -1px rgb(169, 58, 58);
}

#judul {
  font-weight: 800;
  color: red;
  text-decoration: underline;
}

#judul2 {
  font-weight: 800;
  color: green;
}
.content {
  background-color: beige;
}

.container2, .head1, .content1 {
    color: blue;
}

.container2 .content {
    background-color: bisque;
}

.container2 p {
    font-size: 20px;
}
.box {
    background-color: red;
    width: 100px;
    height: 100px;
}
.box a {
    color: white;
    font-size: 30px;
}

.box:haver {
    background-color: aqua;
}

/*.box a:hover {
    color:

